.container{

    height: 100vh;
    padding: 5rem;
    box-sizing: border-box;

}

.img1{
    border-radius:100%;   
    filter:drop-shadow(0 40px 10px rgba(0,0,0,0.3));
    animation:vectorAnimation 1s infinite ease-in-out alternate;
}

@keyframes vectorAnimation {

    to{
        transform:translateY(-10px)
    }
    
}

.brands >svg{
    color:white;
    font-size:2rem;
    transition: color 0.5;
}

.brands >svg:hover{
    color: yellow;
}

.buttontop{
    margin-top: -2%;
    text-align: right;
}